asgiref==3.5.2
Django==4.0.6
django-badges==1.0.0
django-extensions==3.2.0
django-flags==5.0.11
django-next-prev==1.1.0
django-social-share==2.2.1
future==0.18.2
graph-tools==1.5
graphical-models==0.1a15
numpy==1.23.1
perlcompat==1.1
Pillow==9.2.0
Pytess==1.0.0
sqlparse==0.4.2
tzdata==2022.1
